version: '3.8'

services:
  faturamento-app:
    build: .
    container_name: faturamento-enge
    ports:
      - "8888:8888"
    volumes:
      - ./data:/app/data
      - ./uploads:/app/uploads
    environment:
      - NODE_ENV=production
    restart: unless-stopped
